@CHARSET "UTF-8";
html, body, table, thead, tr, td{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #009744;
}

table{
	width: 800px;
	height: 300px;
	margin: 10% auto;
	overflow: hidden;
	border-spacing: 0;
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
}

th {
	background-color: #F8CA14;
	font-size: 20px;
	padding: 5px;
}

tr:nth-child(odd) {
	background: #CBCBCB; 
}

tr:nth:child(even) {
	background: white;
}

tr:nth-child(1), td:nth-child(5), th:nth-child(1) {
	text-align: right;
}

td:nth-child(3), td:nth-child(7), th:nth-child(3) {
	text-align: left;
}


td, tr, th {
	overflow: hidden;
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	padding: 0px 5px;
}

button {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

.inactive button{
	background-color: red;
}


select {
	height: 60%;
	box-shadow: 0px 1px 2px #888888;
}

.inactive select {
	color: red;
	background-color: #DEDEDE;
}

.active button {
	background-color: green;
}

.active select {
	color: green;
	height: 60%;
}

button:FOCUS {
	outline: 0;
}

.flag div{
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 20px;
	padding: 0px 22px;
}

td:nth-child(1) div {
	background-position: center right;
}

#brasil div{
	background-image: url("../images/brazil.png");
}

#spain div{
	background-image: url('../images/spain.gif');
}
#argentina div{
	background-image: url('../images/argentina.png');
}
#bosnia div{
	background-image: url('../images/bosnia.png');
}
#germany div{
	background-image: url('../images/germany.jpg');
}
#portugal div{
	background-image: url('../images/portugal.png');
}

#mexico div{
	background-image: url('../images/mexico.gif');
}

#netherlands div{
	background-image: url('../images/netherlands.gif');
}
#england div{
	background-image: url('../images/uk.gif');
}
#italy div{
	background-image: url('../images/italy.png');
}