@CHARSET "UTF-8";

html, body, title, header, aside, section, nav, ul, li{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/colorful_dots_on_black.jpg");
}

body>header {
	height: 70%;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	color: yellow;
	background: linear-gradient(to right, red 0%, red 33%,green 33%,green 67%, blue 67%, blue 100%);
}

nav{
	margin-left: 3%;
	background: white;
	width: 70%;
	height: 170px;
	padding: 5%;
}


nav>ul>li {
	background-image: url("../images/tick.png");
	background-repeat: no-repeat;
	background-position:left center;
	background-size: 10%;
	text-decoration: none;
	font-size: 13px;
	padding: 0 20px;
	margin: 2px;
}

nav>header{
	font-size: 20px;
	text-decoration: underline;
}


ul {
	list-style-type: none;
	list-style-image: 
}

a {
	color: black;
}

a:HOVER {
	color: red; 
}

a:VISITED {
	color: gray;
}

article {
	padding: 1%;
}

article,nav {
	border-radius: 20px;
	background: rgba(255,255,255,0.85);	
	margin: 0 1%;
	margin-bottom: 1%;
	background-color: LightGray;
}

article>div:first-letter{
	font-size: 50px;
}

article>div::first-line{
	font-style: italic;
}

aside {
	position: fixed;
	margin-top: 20px;
	width: 20%;	
}

article>header {
	padding: 10px;
	margin-bottom: 2px;
	border-radius: 8px;
	font-size: 30px;
	height: 50px;
}
	

section {
	float: right;
	margin-top: 20px;
	width: 80%;
}

#webColors {
	background-color: red;
	color: white;
}

#webSafeColors {
	background-color: orange;
}

#RGB {
	background-color: yellow;
}

#RGBA {
	background-color: green;
	color: white;
}

#HSLHSV {
	background-color: blue;
	color: white;
}

#lorem {
	background-color: purple;
	color: white;
}