@CHARSET "UTF-8";
span#textYellow {
	color: #F3BE60; 
	font-size: 38px; 
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

span#textWhite {
	color: white; 
	font-size: 38px; 
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}


li {
	color: #F3CD60;
	font-size: 34px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}


dl {
	padding:6px;
    border-width:0px;
    color: #FBEEC9;
    border: 1px solid #FBEEC9;
    box-sizing: border-box;
}

img {
	float: right; 
	padding-bottom: 20px;
}