@CHARSET "UTF-8";

body {
	/*padding: 0 25%; */
}

div{
	border: 2px solid #000000;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.face {
	position: absolute;
	background: yellow;
	border-radius: 50%;
	width: 500px;
	height: 500px;
}

@media only screen and (max-width: 900px) {
    .face {
        width: 400px;
		height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .face {
        width: 200px;
		height: 200px;
    }
}

.eye {
	width: 25%;
	height: 25%;
	background: #ffffff;
	border-radius: 50%;
}

.left {
	position: absolute;
	top: 20%;
	left: 15%;
}

.right {
	position: absolute;
	top: 20%;
	left: 60%;	
}

.pupil {
	border-radius: 50%;
	width: 30%;
	height: 30%;
	background: #000000;
}

.left>.pupil{
	position: absolute;
	top:50%;
	left:55%;
}

.nose {
	background: red;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 45%;
}

.mouth {
	width: 50%;
	height: 20%;
	position: absolute;
	top: 65%;
	left: 25%;
	border-radius: 40px;
	background: white;
}

.teeth {
	background: white;
	width: 40%;
	height: 50%;
	border-radius: 8px;
	position: absolute;
	top: 0%;
	left: 30%;
}

.tooth {
	border-top: 0;
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 10px;
	position: absolute;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tooth:first-child {
	border-right: 0;
}