@CHARSET "UTF-8";

h1 {
	text-align: center;
	font-size: 50px;
	margin: 20px;
}


/* table#nested {
	width:auto;
} */
.top {
	vertical-align: top;
}

.Left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.center {
	text-align: center;
}

.bottom {
	vertical-align: bottom;
}

.left {
	text-align: left;
}


tr {
	height: 80px;
}

tr#nestedRow {
	height: 40px;
}

td {
	width: 80px;
}

.text14px {
	font-size: 14px;		
}