@CHARSET "UTF-8";
td#text {
	width: 152px;
	font-size: 70px;
}

img {
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: black;
}

table {
	cellpadding: 5;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	
	border: 1;
}